@import url('/css/normalize.css');

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    var(--light-pink),
    60%,
    var(--dark-purple) 0%
  );
}

html {
  font-size: 62.5%;
}
/* main-container */
.main-section {
  width: 300px;
  margin-top: 150px;
  margin-bottom: 20px;
}

/* title-container */
.title-image {
  width: 2.5rem;
}

.title {
  color: var(--dark-purple);
  font-weight: 900;
  font-size: 27px;
}

/* main-question */

.main-question-title,
.first-question-title,
.second-question-title,
.third-question-title {
  color: var(--dark-purple);
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

.main-question-description,
.first-question-description,
.second-question-description,
.third-question-description {
  color: var(--grayish-purple);
  font-family: 'Work Sans', sans-serif;
}

/* First-question */

.first-button,
.second-button,
.third-button {
  background-color: var(--white);
}

@media screen and (min-width: 400px) {
  .main-section {
    margin-top: 200px;
    width: 50%;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    margin-top: 300px;
    margin-bottom: 100px;
    width: 30%;
  }
  .second-question-title,
  .main-question-title {
    padding-right: 1rem;
  }
}
