@import url('/css/normalize.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  .work-sans-uniquifier > {
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}

html {
  font-size: 62.5%;
}
